*{
    box-sizing: border-box;
    margin: 0;
}
article{
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color:blue;
}
nav a {
    display: inline-block;
    padding: .5em;
}
nav{
    background-color: lightgrey;
    font-family: 'Work Sans', sans-serif;
}
.list-nav{
    font-weight: bold;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
h1{
    margin: 0;
}
section a{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.logo-div{
    font-size: 3em;
}