.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

h2{
    color: darkslateblue;
    text-decoration: underline;
}
body{
    background-color: lightseagreen;
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg");
    background-size: cover;
    font-family: "American Typewriter";
}
ul{
   list-style: square;
}
table.product {
    padding: 15px;
    font-size: 20px;
}
a:link {
    color:coral;
}
a:visited {
    color: cadetblue;
}
a:hover{
    color: red;
}
a:active{
    color: greenyellow;
}